@font-face {
    font-family: "Lato Black Italic";
    src: url("fonts/Lato-BlackItalic.ttf");
}

@font-face {
    font-family: "Bebas";
    src: url("fonts/Bebas-Regular.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Oswald Bold";
    src: url("fonts/Oswald-Bold.ttf");
}

#hero {
    background-image: url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav.navbar {
    background-color: transparent;
}