@font-face {
    font-family: "Lato Black Italic";
    src: url("fonts/Lato-BlackItalic.ttf");
}

@font-face {
    font-family: "Bebas";
    src: url("fonts/Bebas-Regular.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Oswald Bold";
    src: url("fonts/Oswald-Bold.ttf");
}

/* Page Wrapper Styles */
.wrapper {
    min-height: 100%;
}

/* Navbar Styles */
.fixed-top {
    position: absolute;
}

nav.navbar {
    background-color: transparent;
}

nav.navbar > div {
    max-width: 70vw !important;
    padding-left: 5.3vw;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-family: "Lato Black Italic";
    letter-spacing: 2px;
    font-size: 12px;
}

.nav-link:hover {
    color: #fff;
}

nav.sticky-top .nav-link:hover {
    color: #414F6B;
}

nav.navbar.sticky-top  {
    background-color: #fff;
}

nav.sticky-top > div > ul > li.nav-item.border-bottom {
    border-bottom-color: #414F6B !important;
}

nav.sticky-top > div > i {
    color: #414F6B;
}

nav.sticky-top > div > ul > li > a {
    color: #414F6B;
}

.nav.flex-column > li > a {
    color: #414F6B;
}


/* Hero Section Styles */
#hero {
    background-image: url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1.display-1 {
    font-family: "Bebas";
    text-transform: uppercase;
    color: #4D4D4D;
    font-size: 7.3vw;
    line-height: 8vw;
    position: relative;
    bottom: 7vh;
    right: 5.5vw;
}

#hero h1.display-1 span {
    color: #414F6B;
    letter-spacing: 1px;
    font-size: 7.8vw;
}

#hero div.container-sm {
    max-width: 40vw !important;
}

/* History Section Styles */
#history {
    background-image: url("img/peak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#history .carousel {
    top: 20%;
    height: 20vh;
    opacity: 80%;
    background-color: #414F6B;
}

.carousel-indicators [data-bs-target] {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators {
    bottom: -4%;
}

.carousel-item {
    display: block;
    width: fit-content;
}

.col img {
    width: 100% !important;
    height: fit-content !important;
}

.carousel-inner {
    max-width: 85%;
    height: 95% !important;
}

.row >* {
    padding: 0 1% 0 1%;
}

#history > div {
    height: 60%;
}

#history div.history-text-container {
    max-width: 64%;
    position: relative;
    left: 139px;
    bottom: 6%;
}

p.history-text {
    font-family: "Lato Light", sans-serif;
    color: #000;
    font-size: 16px;
}

/* Team / Climb Section Styles */
.bg-climb {
    background-image: url("img/02climb.jpg");
    background-size: 30%;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 30%;
    width: 48.5%;
}

.bg-climb > p {
    font-family: "Lato Light", sans-serif;
    color: #000;
    font-size: 16px;
    max-width: 70%;
    position: relative;
    left: 32%;
    top: 2%;
}

#team div:nth-child(1) {
    height: 200px;
}

#team #tabs {
    height: 40px;
    background-color: #414F6B;
}

#tabs > ul {
    width: 51%;
}

#tabs > ul > li {
    border-radius: 0%;
    color: #414F6B;
    font-family: "Oswald Bold", sans-serif;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.tab-selected {
    background-color: #AFB3BD;
    text-decoration: underline;
}

.tab-deselected {
    background-color: transparent;
    color: #AFB3BD !important;
}

#tab-body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 75.2vh;
}

.mountain-one {
    background-image: url("img/mountain-one.jpg");
}

.mountain-two {
    background-image: url("img/mountain-two.jpg");
}

#schedule {
    width: 42%;
}

#schedule h3 {
    font-family: "Oswald Bold", sans-serif;
    text-transform: uppercase;
    color: #414F6B;
    opacity: 100%;
}

#schedule p {
    font-family: "Lato Light", sans-serif;
    font-size: 16px;
}

#schedule > div {
    background-color: rgba(255, 255, 255, .7);
    width: 352px;
    height: 229px !important;
    padding: 23px 0 24px 40px;
    position: relative;
    bottom: 32%;
}

/* Footer Styles */
footer {
    height: 74px;
    background-color: #414F6B;
}

footer div {
    width: 70%;
    padding-left: 5.3vw;
}

footer small {
    font-family: "Lato Black Italic", sans-serif;
    text-transform: uppercase;
    color: #63769D;
    letter-spacing: 1px;
}

/* Mobile Menu Breakpoints */
.offcanvas > footer > div {
    width: 100%;
    padding: 0 1rem 0 1rem;
}

/* MOBILE BREAKPOINTS */

/* Navbar Breakpoints */
@media screen and (max-width: 900px) {
    ul.nav.me-5 {
        display: none;
    }

    i {
        display: block;
        color: #fff;
    }
}

@media screen and (min-width: 901px) {
    i {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    nav.navbar > div {
        max-width: none !important;
        padding-left: 12px;
    }
}

/* Hero Section Breakpoints */
@media screen and (max-width: 900px) {
    #hero h1.display-1 {
        font-size: 11.3vw;
        line-height: 11vw;
    }

    #hero h1.display-1 span {
        font-size: 12.1vw;
    }
}

@media screen and (max-width: 480px) {
    #hero h1.display-1 {
        font-size: 14.3vw;
        line-height: 14vw;
    }

    #hero h1.display-1 span {
        font-size: 15.1vw;
    }
}

@media screen and (max-width: 400px) {
    #hero h1.display-1 {
        right: 10.5vw;
    }
}

/* History Section Breakpoints */
@media screen and (max-width: 940px) {
    #history div.history-text-container {
        left: 0px;
        bottom: 0%;
        top: 10%;
    }
}

@media screen and (max-width: 400px) {
    #history div.history-text-container {
        max-width: 80%;
    }
}

@media screen and (max-width: 480px) {
    p.history-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    p.history-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 580px) {
    #history {
        background-position-x: 23%;
    }
 }

@media screen and (max-width: 900px) {
    .carousel-inner {
        max-width: 95%;
    }
}

@media screen and (max-width: 772px) {
   div.col:first-child {
       display: none !important;
   }

   div.col:last-child {
       display: none !important;
   }
}

@media screen and (max-height: 830px) {
    #history .carousel {
        top: 17%;
        height: 23vh;
    }

    .carousel-indicators {
        bottom: 0%;
    }
 }

@media screen and (max-height: 797px) {
    .carousel-indicators {
        bottom: -3%;
    }
 }

@media screen and (max-height: 720px) {
    #history .carousel {
        top: 15%;
        height: 25vh;
    }
    
    .carousel-indicators {
        bottom: -5%;
    }
 }

@media screen and (max-height: 660px) {
    #history .carousel {
        top: 10%;
        height: 30vh;
    }
    
    .carousel-indicators {
        bottom: -4%;
    }
 }

@media screen and (max-height: 540px) {
    #history .carousel {
        top: 6%;
        height: 34vh;
    }

    #history div.history-text-container {
        left: 80px;
        bottom: -15%;
    }

    #schedule > div {
        bottom: 0;
    }
 }

@media screen and (max-height: 460px) {
    #hero h1.display-1 {
        bottom: 0;
    }
    
    #history .carousel {
        top: -2%;
        height: 42vh;
    }

    #history div.history-text-container {
        left: 80px;
        bottom: -25%;
    }

    #schedule > div {
        bottom: 0;
    }
 }


/* Climb / Team Section */
@media screen and (max-width: 1272px) {
    .bg-climb > p {
        max-width: 90%;
    }
 }

@media screen and (max-width: 800px) {
    .bg-climb {
        background-size: 45%;
    }

    .bg-climb > p {
        max-width: 95%;
        left: 50%;
    }
 }

@media screen and (max-width: 480px) {
    div.plus-480 {
        display: none !important;
    }

    div.minus-480 {
        display: block;
        background-image: url("img/02climb.jpg");
        background-repeat: no-repeat;
        background-size: 40%;
        background-position-x: center;
        background-position-y: 35%;
    }

    div.minus-480 p {
        font-family: "Lato Light", sans-serif;
        font-size: 12px;
    }
 }

@media screen and (min-width: 481px) {
    div.plus-480 {
        display: block;
    }

    div.minus-480 {
        display: none !important;
    }
 }

@media screen and (max-width: 670px) {
    .bg-climb > p {
       font-size: 14px;
    }
 }

@media screen and (max-width: 480px) {
    .bg-climb > p {
       font-size: 12px;
    }
 }

@media screen and (max-width: 438px) {
    #tabs > ul {
        width: 100%;
    }
 }

@media screen and (max-width: 838px) {
    #schedule {
        width: 80%;
    }

    #schedule > div {
        left: 20%;
    }
 }

@media screen and (max-width: 320px) {
    #schedule {
        width: 100%;
    }
 }

@media screen and (max-width: 480px) {
    #schedule > div {
        left: 0%;
    }
 }

@media screen and (max-height: 740px) {
    div.minus-480 {
        background-size: 30%;
        background-position-y: 15%;
    }
 }

 /* Footer Breakpoints */
 @media screen and (max-height: 700px) {
    body > footer {
        visibility: hidden;
    }

    #tab-body {
        height: 76vh;
    }
  } 

 @media screen and (max-width: 930px) {
    footer small {
        font-size: 12px;
    }
 }

 @media screen and (max-width: 650px) {
    footer div {
        width: 95%;
    }
    
    footer small {
        font-size: xx-small;
    }
 }

 @media screen and (max-width: 480px) {
   footer img {
       width: 25% !important;
   }
 }

 @media screen and (max-width: 550px) {
   footer img {
       width: 35% !important;
   }

   footer small.copyright {
       display: none;
   }

   footer small.copyright-550-minus {
       display: inline;
   }
 }

 @media screen and (min-width: 551px) {
   footer small.copyright-550-minus {
       display: none;
   }
 }
