@font-face {
    font-family: "Lato Black Italic";
    src: url("fonts/Lato-BlackItalic.ttf");
}

@font-face {
    font-family: "Bebas";
    src: url("fonts/Bebas-Regular.ttf");
}

@font-face {
    font-family: "Lato Light";
    src: url("fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Oswald Bold";
    src: url("fonts/Oswald-Bold.ttf");
}

/* Navbar Styles */
nav.navbar {
    background-color: transparent;
}

nav.navbar > div {
    max-width: 70vw !important;
    padding-left: 8vw;
}

.nav-link {
    color: #fff;
    text-transform: uppercase;
    font-family: "Lato Black Italic";
    letter-spacing: 2px;
    font-size: 12px;
}

.nav-link:hover {
    color: #fff;
}


/* Hero Section Styles */
#hero {
    background-image: url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1.display-1 {
    font-family: "Bebas";
    text-transform: uppercase;
    color: #4D4D4D;
    font-size: 8.6vw;
    line-height: 9.6vw;
    position: relative;
    bottom: 10vh;
    right: 6vw;
}

#hero h1.display-1 span {
    color: #414F6B;
    letter-spacing: 1px;
    font-size: 9vw;
}

#hero div.container-sm {
    max-width: 40vw !important;
}

/* History Section Styles */
#history {
    background-image: url("img/peak.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#history .carousel {
    top: 80%;
    height: 20vh;
    opacity: 80%;
    background-color: #414F6B;
}

.carousel-indicators [data-bs-target] {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: none;
}

.carousel-item {
    display: block;
    width: fit-content;
}

.col img {
    width: 100% !important;
    height: fit-content !important;
}

.carousel-inner {
    max-width: 50%;
    height: 95% !important;
}

.row >* {
    padding: 0 1% 0 1%;
}